.art {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
        aspect-ratio: 1;
        background-color: white; //fallback color
    }

    svg * {
        // Removes little gaps between the shapes
        shape-rendering: crispEdges;
      }
}

.box {
    //for now not used
}